
header,.header,#header{

}

footer,.footer,#footer{

}

article,.article,#article{
    margin-top: 40px;
    margin-bottom: 40px;
}

#search-panel{
    margin-bottom: 40px;
    .tab-content{
        background-color: #f0f1f5;
        border: $nav-tabs-border-width solid $border-color;
        @include border-radius($nav-pills-border-radius);
        border-top-left-radius: 0 !important;
    }

    ul.nav-tabs{
        border-bottom: 0 !important;

        .nav-item{
            .nav-link{
                border-bottom: 0 !important;

            }
            .nav-link.active{
                background-color: #f0f1f5;
            }
        }
    }
}

#search-pagination{
    margin-top: 40px;
}

.row-group {
    border: 1px solid $border-color;
    padding-top: 20px;
    margin-bottom: 30px;
    border-radius: 5px;

    .row-group-title{
        position: absolute;
        display: block;
        margin-top: -32px;
        float: none;
        margin-left: 20px;
        background-color: #f0f1f5;
        padding: 0 10px;
        color: $border-color;
    }
}

